/* Adjustments to center the image and name */
.image-container {
    text-align: center;
    margin-bottom: 20px;
    /* Adjust the bottom margin as needed */
}

.image-container img {
    display: inline-block;
    width: 176px;
    /* Adjust the width as needed */
    height: 176px;
    /* Adjust the height as needed */
    border-radius: 50%;
    border: 16px solid rgb(30, 207, 172);
    transition: transform 300ms ease-out, border-width 300ms ease-out;
}



/* Add hover effect to the main display picture */
.image-container img:hover {
    transform: scale(1.1);
}

/* Typewriter animation effect */
.texts{
    font-weight: bold;
    text-align: center;
  color:#fff;
  padding-top:1.5em;
  text-decoration: none;
}






/* Define styles for the description section */
.prose {
    margin-top: 20px;
    /* Adjust the top margin as needed */
    font-family: Arial, sans-serif;
    /* Use your desired font family */
    font-size: 16px;
    /* Adjust the font size as needed */
    line-height: 1.6;
    /* Adjust the line height as needed */
}

/* Define styles for the social media links */
.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* Adjust the top margin as needed */
}

.social-link {
    margin: 0 10px;
    /* Adjust the horizontal margin as needed */
}

.social-link img {
    width: 30px;
    /* Adjust the width as needed */
    height: 30px;
    /* Adjust the height as needed */
}