
main {
    display: block;
}

div.homepage #info #text{
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.homepage #info img{
    width : 256px;
    height: 256px;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(216, 226, 25);
    border-width: 16px;
    transition:  300ms ease-out,border-width 300ms ease-out;
}

/* Hover effect to glow */
div.homepage #info img:hover {
    border-width: 2px;
    transform: scale(1.1);
}



body.homepage #info{
    padding: 0 10px;
    display: flex;
    gap: 4em;
}

body.homepage #info #bio{
    font-size: .90em;
}

body.homepage #brief {
    padding: 0 15px;
    font-size: 1.15em;
    line-height: 1.5;
}





/* Social links container */
.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Individual social link */
.social-link {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

/* Social link icon */
.social-link img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* Hover effect to glow */
.social-link:hover {
    transform: scale(1.2);
}
