/* Adjustments to center the image and name */
.image-container {
    justify-content: ;
    text-align: center;
    margin-bottom: 20px;
    /* Adjust the bottom margin as needed */
}

.image-container img {
    display: inline-block;
    width: 176px;
    /* Adjust the width as needed */
    height: 176px;
    /* Adjust the height as needed */
    border-radius: 50%;
    border: 6px solid rgb(30, 207, 172);
    transition: transform 300ms ease-out, border-width 300ms ease-out, box-shadow 300ms ease-out;
}



/* Add hover effect to the main display picture */
.image-container img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7); /* Adjust the glow effect as needed */

}

/* Typewriter animation effect */
.texts{
    font-weight: bolder;
    font-optical-sizing: auto;
    font-variant-caps: unicase;
    text-align: center;
  color:#fff;
  padding-top:1.5em;
  text-decoration: none;
}



.selftaught{
    font-weight: bolder;
}

/* Define styles for the description section */
.prose {
    margin-top: 20px;
    /* Adjust the top margin as needed */
    
    /* Use your desired font family */
    font-size: 16px;
    /* Adjust the font size as needed */
    line-height: 1.6;
    /* Adjust the line height as needed */
}

