/* Adjustments to center the image and name */
.image-container {
    width: 200px; /* Adjust the width of the container */
    height: 200px; /* Adjust the height of the container */
    border-radius: 50%; /* Make it circular */
    overflow: hidden; /* Hide overflow content */
    border: 6px solid rgb(30, 207, 172); /* Add border */
    transition: transform 300ms ease-out, border-width 300ms ease-out, box-shadow 300ms ease-out; /* Add transition for smooth hover effect */
    display: flex; /* Use flexbox to center content */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
  }
  
  .image-container img {
    width: 100%; /* Make the image fill the container */
    height: 100%; /* Make the image fill the container */
    object-fit: cover; /* Fit the image proportionally inside the container */
    transition: transform 300ms ease-out; /* Add transition for smooth hover effect */
  }
  
  /* Add hover effect to the main display picture */
  .image-container:hover img {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7); /* Adjust the glow effect as needed */
  }
  
  /* Typewriter animation effect */
  .texts {
    font-weight: bolder;
    font-optical-sizing: auto;
    font-variant-caps: unicase;
    text-align: center;
    color: #fff;
    padding-top: 1.5em;
    text-decoration: none;
  }
  
  .selftaught {
    font-weight: bolder;
  }
  
  /* Define styles for the description section */
  .prose {
    margin-top: 20px; /* Adjust the top margin as needed */
    font-size: 16px; /* Adjust the font size as needed */
    line-height: 1.6; /* Adjust the line height as needed */
  }
  