{{ define "main" }}
{{ if isset .Data "Term" }}
<h1>Entries tagged - "{{ .Data.Term }}"</h1>
{{ else }}
<h1 class="page-title">Projects 🔨 </h1>
{{ end }}

<ul class="custom-posts">
    {{- range .Data.Pages -}}
      {{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
        <li class="custom-post">
          <a href="{{ .RelPermalink }}" class="card-link">
            <div class="card-container"> <!-- Wrapper div for the card -->
              <div class="custom-card">
                <div class="content">
                  <h2 class="custom-title">{{.Title}}</h2>
                  <p class="custom-excerpt">{{ .Summary }}</p>
                  <span class="custom-meta">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="custom-draft-label">DRAFT</span> {{ end }}</span>
                </div>
                <img src="{{ .Params.image }}" alt="{{ .Title }}" class="custom-thumbnail"> <!-- Display image from front matter -->
              </div>
            </div>
          </a>
        </li>
      {{- end -}}
    {{- end -}}
        



  </ul>
  
  
  
  
  
{{ end }}
